[Desktop Entry]
Name=StatusBar Icons
Name[ca]=Icones de la barra d'estat
Name[ca@valencia]=Icones de la barra d'estat
Name[fi]=Tilarivin kuvakkeet
Name[nl]=Pictogrammen op de statusbalk
Name[pt]=Ícones da Barra de Estado
Name[sv]=Ikoner i statusraden
Name[uk]=Піктограми смужки стану
Name[x-test]=xxStatusBar Iconsxx
Comment=Adds additional icons and zoom widget to statusbar
Comment[ca]=Afegeix icones addicionals i un estri de zoom a la barra d'estat
Comment[ca@valencia]=Afig icones addicionals i un estri de zoom a la barra d'estat
Comment[fi]=Lisää tilariville kuvakkeita ja lähennyssovelman
Comment[nl]=Voegt extra pictogrammen en zoomwidget toe aan de statusbalk
Comment[pt]=Adiciona ícones extra e um item de ampliação à barra de estado
Comment[sv]=Lägger till ytterligare ikoner och en zoomkomponent i statusraden
Comment[uk]=Додає піктограми і віджет масштабування на смужку стану
Comment[x-test]=xxAdds additional icons and zoom widget to statusbarxx

Icon=:sbi/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
