[Desktop Entry]
Name=StatusBar Icons
Name[ca]=Icones de la barra d'estat
Name[ca@valencia]=Icones de la barra d'estat
Name[cs]=Ikony stavové lišty
Name[da]=Statuslinjeikoner
Name[de]=Statusleisten-Symbole
Name[en_GB]=StatusBar Icons
Name[es]=Iconos de la barra de tareas
Name[eu]=Egoera-barrako ikonoak
Name[fi]=Tilarivin kuvakkeet
Name[fr]=Icônes de la barre d'état
Name[gl]=Iconas da barra de estado
Name[ia]=Icones de barra de stato
Name[id]=StatusBar Icons
Name[it]=Icone della barra di stato
Name[ko]=상태 표시줄 아이콘
Name[nl]=Pictogrammen op de statusbalk
Name[nn]=Statuslinje-ikon
Name[pl]=Ikony paska stanu
Name[pt]=Ícones da Barra de Estado
Name[pt_BR]=Ícones da barra de status
Name[sk]=Ikony stavovej lišty
Name[sv]=Ikoner i statusraden
Name[uk]=Піктограми смужки стану
Name[x-test]=xxStatusBar Iconsxx
Name[zh_CN]=状态栏图标
Name[zh_TW]=StatusBar 圖示
Comment=Adds additional icons and zoom widget to statusbar
Comment[ca]=Afegeix icones addicionals i un giny de zoom a la barra d'estat
Comment[ca@valencia]=Afig icones addicionals i un giny de zoom a la barra d'estat
Comment[cs]=Přidává dodatečné ikony a přibližovací widget do stavové lišty
Comment[da]=Tilføjer yderligere ikoner og zoomwidget til statuslinje
Comment[de]=Zusätzliche Symbole und Bedienelemente zum Vergrößern für die Statusleiste
Comment[en_GB]=Adds additional icons and zoom widget to statusbar
Comment[es]=Añade iconos adicionales y control de zum a la barra de estado
Comment[eu]=Egoera-barrari ikono osagarriak eta zoom egiteko trepeta gehitzen dizkio
Comment[fi]=Lisää tilariville kuvakkeita ja lähennyssovelman
Comment[fr]=Ajout d'icônes supplémentaires et d'un composant graphique de zoom à la barre d'état
Comment[gl]=Engade iconas adicionais e un trebello de ampliación á barra de estado
Comment[id]=Menambah tambahan ikon dan zoom widget untuk bilah status
Comment[it]=Aggiunge alla barra di stato alcune icone aggiuntive ed uno strumento di ingrandimento
Comment[ko]=상태 표시줄에 추가 아이콘과 크기 조정 위젯 추가
Comment[nl]=Voegt extra pictogrammen en zoomwidget toe aan de statusbalk
Comment[nn]=Leggjer til fleire ikon og sideforstørring via statuslinja
Comment[pl]=Dodaje różne ikony i widżet powiększania do pasku stanu
Comment[pt]=Adiciona ícones extra e um item de ampliação à barra de estado
Comment[pt_BR]=Adiciona ícones adicionais e widget de zoom na barra de status
Comment[sk]=Pridáva ďalšie ikony a priblíženie do stavovej lišty
Comment[sv]=Lägger till ytterligare ikoner och en zoomkomponent i statusraden
Comment[uk]=Додає піктограми і віджет масштабування на смужку стану
Comment[x-test]=xxAdds additional icons and zoom widget to statusbarxx
Comment[zh_CN]=向状态栏添加其他图标和缩放小部件
Comment[zh_TW]=新增額外圖示及縮放元件至狀態列

Icon=:sbi/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
