[Desktop Entry]
Name=KDE Support
Comment=Provides support for KIO and storing passwords in KWallet

Icon=:kdesupport/data/icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.2.0
X-Falkon-Settings=false
