build
DEBIAN
*.deb
*.pro.user*
*.autosave
*~
*.qm
!qt_*.qm
headers*.tar.gz
license_template
bin/falkon
bin/Falkon.dmg
mac/images/falkon-dmg-icon.iconset
lib*.so*
bin/core
falkon.sh
git_revision
*.exe
*.dll
*.lib
*.exp
*.zip
Thumbs.db
*.pdb
*.ilk
*.kdev4
*.swp
*_manifest.*
*.embed.manifest
bin/autotests
.clang_complete
bin/falkon.app
.DS_Store
*.dylib
hunspell
callgrind.out.*
tests/autotests/autotests
.ycm_extra_conf.py*
*.stash
bin/profiles
CMakeLists.txt.user
