[Desktop Entry]
Name=Dictionary
Name[ar]=قاموس
Name[ast]=Diccionariu
Name[az]=Lüğət
Name[bg]=Речник
Name[ca]=Diccionari
Name[ca@valencia]=Diccionari
Name[cs]=Slovník
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[en_GB]=Dictionary
Name[eo]=Vortaro
Name[es]=Diccionario
Name[et]=Sõnaraamat
Name[eu]=Hiztegia
Name[fi]=Sanasto
Name[fr]=Dictionnaire
Name[gl]=Dicionario
Name[he]=מילון
Name[hi]=शब्दकोष
Name[hu]=Szótár
Name[ia]=Dictionario
Name[id]=Kamus
Name[is]=Orðasafn
Name[it]=Dizionario
Name[ka]=ლექსიკონი
Name[ko]=사전
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[nl]=Woordenboek
Name[nn]=Ordliste
Name[pa]=ਡਿਕਸ਼ਨਰੀ
Name[pl]=Słownik
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[ru]=Словарь
Name[sa]=शब्दकोश
Name[sk]=Slovník
Name[sl]=Slovar
Name[sv]=Ordlista
Name[tr]=Sözlük
Name[uk]=Словник
Name[zh_CN]=词典
Name[zh_TW]=Dictionary

Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Text"
X-RunAction-Exec="http://{lang}.wiktionary.org/wiki/Special:Search?search={text}"
