[Desktop Entry]
Name=Dictionary
Name[en_GB]=Dictionary
Name[pt]=Dicionário
Name[sv]=Ordlista
Name[uk]=Словник
Name[x-test]=xxDictionaryxx

Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Text"
X-RunAction-Exec="http://{lang}.wiktionary.org/wiki/Special:Search?search={text}"
