[Desktop Entry]
Name=Dictionary
Name[ca]=Diccionari
Name[ca@valencia]=Diccionari
Name[de]=Wörterbuch
Name[en_GB]=Dictionary
Name[es]=Diccionario
Name[fi]=Sanasto
Name[fr]=Dictionnaire
Name[gl]=Dicionario
Name[id]=Kamus
Name[it]=Dizionario
Name[nl]=Woordenboek
Name[nn]=Ordliste
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[sk]=Slovník
Name[sv]=Ordlista
Name[uk]=Словник
Name[x-test]=xxDictionaryxx
Name[zh_TW]=Dictionary

Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Text"
X-RunAction-Exec="http://{lang}.wiktionary.org/wiki/Special:Search?search={text}"
