[Desktop Entry]
Name=Google
Name[ca]=Google
Name[de]=Google
Name[en_GB]=Google
Name[fr]=Google
Name[it]=Google
Name[nl]=Google
Name[sv]=Google
Name[uk]=Google
Comment=Search with...
Comment[ca]=Cerca amb...
Comment[de]=Suchen mit ...
Comment[en_GB]=Search with...
Comment[it]=Cerca con...
Comment[nl]=Zoeken met...
Comment[sv]=Sök med...
Comment[uk]=Шукати за допомогою…

Icon=google.png
Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Image"
X-RunAction-Submenu="search_with"
X-RunAction-Exec="https://www.google.com/searchbyimage?site=search&image_url={url}"
