[Desktop Entry]
Name=Open with mpv
Name[ca]=Obre amb el «mpv»
Name[en_GB]=Open with mpv
Name[it]=Apri con mpv
Name[nl]=Met mpv openen
Name[sv]=Öppna med mpv
Name[uk]=Відкрити за допомогою mpv

Icon=mpv
TryExec=mpv
Type=Service

X-RunAction-Type="Command"
X-RunAction-TypeCondition="Page;Link;Media"
X-RunAction-Exec="mpv {url}"
