[Desktop Entry]
Name=TinEye
Name[ca]=TinEye
Name[ca@valencia]=TinEye
Name[de]=TinEye
Name[en_GB]=TinEye
Name[nl]=TinEye
Name[pt]=TinEye
Name[sv]=TinEye
Name[uk]=TinEye
Name[x-test]=xxTinEyexx
Comment=Search with...
Comment[ca]=Cerca amb...
Comment[ca@valencia]=Cerca amb...
Comment[de]=Suchen mit ...
Comment[en_GB]=Search with...
Comment[nl]=Zoeken met...
Comment[pt]=Procurar com...
Comment[sv]=Sök med...
Comment[uk]=Шукати за допомогою…
Comment[x-test]=xxSearch with...xx

Icon=tineye.png
Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Image"
X-RunAction-Submenu="search_with"
X-RunAction-Exec="http://www.tineye.com/search?url={url}"
