[Desktop Entry]
Name=TinEye
Name[ca]=TinEye
Name[de]=TinEye
Name[en_GB]=TinEye
Name[gl]=TinEye
Name[id]=TinEye
Name[it]=TinEye
Name[nl]=TinEye
Name[nn]=TinEye
Name[pt_BR]=TinEye
Name[sk]=TinEye
Name[sv]=TinEye
Name[uk]=TinEye
Name[x-test]=xxTinEyexx
Comment=Search with...
Comment[ca]=Cerca amb...
Comment[de]=Suchen mit ...
Comment[en_GB]=Search with...
Comment[gl]=Buscar con…
Comment[id]=Cari dengan...
Comment[it]=Cerca con...
Comment[nl]=Zoeken met...
Comment[nn]=Søk med …
Comment[pt_BR]=Pesquisar com...
Comment[sk]=Hľadať s...
Comment[sv]=Sök med...
Comment[uk]=Шукати за допомогою…
Comment[x-test]=xxSearch with...xx

Icon=tineye.png
Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Image"
X-RunAction-Submenu="search_with"
X-RunAction-Exec="http://www.tineye.com/search?url={url}"
