[Desktop Entry]
Name=Translate page
Name[en_GB]=Translate page
Name[pt]=Traduzir a página
Name[sv]=Översätt sida
Name[uk]=Перекласти сторінку
Name[x-test]=xxTranslate pagexx

Icon=translate.png
Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Page"
X-RunAction-Exec="http://translate.google.com/translate?sl=auto&tl={lang}&u={url}"
