[Desktop Entry]
Name=Validate page
Name[az]=Səhifəni doğrulamaq
Name[ca]=Valida la pàgina
Name[ca@valencia]=Valida la pàgina
Name[cs]=Ověřit stránku
Name[da]=Valider side
Name[de]=Seite überprüfen
Name[el]=Επαλήθευση σελίδας
Name[en_GB]=Validate page
Name[es]=Validar página
Name[et]=Lehekülje valideerimine
Name[eu]=Balidatu orria
Name[fi]=Tarkista sivu
Name[fr]=Valider la page
Name[gl]=Validar a páxina
Name[ia]=Valida Pagina
Name[id]=Absahkan halaman
Name[it]=Convalida la pagina
Name[ko]=페이지 검사
Name[lt]=Patikrinti puslapį
Name[nl]=Pagina valideren
Name[nn]=Valider side
Name[pl]=Potwierdź stronę
Name[pt]=Validar a página
Name[pt_BR]=Validar página
Name[ru]=Проверить страницу
Name[sk]=Ohodnotiť stránku
Name[sl]=Potrdi stran
Name[sv]=Validera sida
Name[uk]=Перевірити достовірність сторінки
Name[x-test]=xxValidate pagexx
Name[zh_CN]=校验页面
Name[zh_TW]=驗證頁面

Icon=w3.png
Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Page"
X-RunAction-Exec="http://validator.w3.org/check?uri={url}"
