[Desktop Entry]
Name=Yandex
Comment=Search with...

Icon=yandex.png
Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Image"
X-RunAction-Submenu="search_with"
X-RunAction-Exec="https://yandex.com/images/search?&img_url={url}&rpt=imageview"
