[Desktop Entry]
Name=Yandex
Name[ca]=Yandex
Name[ca@valencia]=Yandex
Name[en_GB]=Yandex
Name[nl]=Yandex
Name[pt]=Yandex
Name[sv]=Yandex
Name[uk]=Яндекс
Name[x-test]=xxYandexxx
Comment=Search with...
Comment[ca]=Cerca amb...
Comment[ca@valencia]=Cerca amb...
Comment[en_GB]=Search with...
Comment[nl]=Zoeken met...
Comment[pt]=Procurar com...
Comment[sv]=Sök med...
Comment[uk]=Шукати за допомогою…
Comment[x-test]=xxSearch with...xx

Icon=yandex.png
Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Image"
X-RunAction-Submenu="search_with"
X-RunAction-Exec="https://yandex.com/images/search?&img_url={url}&rpt=imageview"
