[Desktop Entry]
Name=Yandex
Name[ar]=ياندكس
Name[az]=Yandex
Name[bg]=Yandex
Name[ca]=Yandex
Name[ca@valencia]=Yandex
Name[cs]=Yandex
Name[da]=Yandex
Name[de]=Yandex
Name[el]=Yandex
Name[en_GB]=Yandex
Name[eo]=Yandex
Name[es]=Yandex
Name[et]=Yandex
Name[eu]=Yandex
Name[fi]=Yandex
Name[fr]=Yandex
Name[gl]=Yandex
Name[hu]=Yandex
Name[ia]=Yandex
Name[id]=Yandex
Name[is]=Yandex
Name[it]=Yandex
Name[ka]=Yandex
Name[ko]=Yandex
Name[lt]=Yandex
Name[lv]=Yandex
Name[nl]=Yandex
Name[nn]=Yandex
Name[pl]=Yandex
Name[pt]=Yandex
Name[pt_BR]=Yandex
Name[ru]=Yandex
Name[sk]=Yandex
Name[sl]=Yandex
Name[sv]=Yandex
Name[tr]=Yandex
Name[uk]=Яндекс
Name[x-test]=xxYandexxx
Name[zh_CN]=Yandex
Name[zh_TW]=Yandex
Comment=Search with...
Comment[ar]=ابحث باستخدام...
Comment[az]=Bununla axtarmaq...
Comment[bg]=Търсене с…
Comment[ca]=Cerca amb...
Comment[ca@valencia]=Busca amb…
Comment[cs]=Hledat pomocí...
Comment[da]=Søg med...
Comment[de]=Suchen mit ...
Comment[el]=Αναζήτηση με...
Comment[en_GB]=Search with...
Comment[eo]=Serĉi kun...
Comment[es]=Buscar con...
Comment[et]=Otsimine mootoriga ...
Comment[eu]=Bilatu honekin...
Comment[fi]=Etsi hakukoneella…
Comment[fr]=Chercher avec…
Comment[gl]=Buscar con…
Comment[hu]=Keresés mással…
Comment[ia]=Cerca  con...
Comment[id]=Cari dengan...
Comment[is]=Leita með...
Comment[it]=Cerca con...
Comment[ka]=ძებნა...
Comment[ko]=다음으로 검색...
Comment[lt]=Ieškoti naudojant...
Comment[lv]=Meklēt ar...
Comment[nl]=Zoeken met...
Comment[nn]=Søk med …
Comment[pa]=...ਨਾਲ ਖੋਜੋ
Comment[pl]=Szukaj w...
Comment[pt]=Procurar com...
Comment[pt_BR]=Pesquisar com...
Comment[ru]=Искать с помощью...
Comment[sk]=Hľadať s...
Comment[sl]=Išči z...
Comment[sv]=Sök med...
Comment[tr]=Şununla Ara…
Comment[uk]=Шукати за допомогою…
Comment[x-test]=xxSearch with...xx
Comment[zh_CN]=选择搜索引擎搜索...
Comment[zh_TW]=搜尋…

Icon=yandex.png
Type=Service

X-RunAction-Type="Url"
X-RunAction-TypeCondition="Image"
X-RunAction-Submenu="search_with"
X-RunAction-Exec="https://yandex.com/images/search?rpt=imageview&url={url}"
