[Desktop Entry]
Name=Chrome
Comment=Chrome like theme for Falkon based on Firefox Chromifox theme

Icon=theme.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=license.txt
