[Desktop Entry]
Name=Chrome
Name[ca]=Chrome
Name[ca@valencia]=Chrome
Name[cs]=Chrome
Name[da]=Chrome
Name[de]=Chrome
Name[en_GB]=Chrome
Name[es]=Chrome
Name[fi]=Chrome
Name[fr]=Chrome
Name[gl]=Chrome
Name[id]=Chrome
Name[it]=Chrome
Name[nl]=Chrome
Name[nn]=Chrome
Name[pl]=Chrome
Name[pt]=Chrome
Name[pt_BR]=Chrome
Name[sk]=Chrome
Name[sv]=Chrome
Name[uk]=Хромування
Name[x-test]=xxChromexx
Name[zh_CN]=Chrome
Name[zh_TW]=Chrome
Comment=Chrome like theme for Falkon based on Firefox Chromifox theme
Comment[ca]=Tema semblant al Chrome pel Falkon, basat en el tema Chromifox del Firefox
Comment[ca@valencia]=Tema semblant al Chrome pel Falkon, basat en el tema Chromifox del Firefox
Comment[cs]=Motiv pro Falkon podobný Chrome založený na motivu Firefox Chromifox
Comment[da]=Chrome-lignende tema til Falkon baseret på Firefox Chromifox-tema
Comment[de]=Chrome ähnliches Design für Falkon auf der Basis des Chromifox-Designs von Firefox
Comment[en_GB]=Chrome like theme for Falkon based on Firefox Chromifox theme
Comment[es]=Tema estilo Chrome para Falkon basado en el tema Firefox Chromifox
Comment[fi]=Firefoxin Chromifox-teemaan pohjautuva Chromen kaltainen Falkon-teema
Comment[fr]=Thème Chrome pour Falkon inspiré du thème Chromifox de Firefox
Comment[gl]=Tema parecido a Chrome para Falkon baseado no tema Chromifox de Firefox
Comment[id]=Tema seperti Chrome untuk Falkon berdasarkan pada tema Firefox Chromifox
Comment[it]=Tema di tipo Chrome per Falkon, basato sul tema Chromifox di Firefox
Comment[nl]=Op Chrome lijkend thema voor Falkon gebaseerd op Firefox Chromifox thema
Comment[nn]=Chrome-liknande tema for Falkon, basert på Firefox Chromifox-temaet
Comment[pl]=Wygląd przypominający Chrome dla Falkona oparty na wyglądzie Firefox Chromifox
Comment[pt]=Tema semelhante ao Chrome para o Falkon, baseado no tema Chromifox do Firefox
Comment[pt_BR]=Tema parecido com o Chrome para o Falkon, baseado no tema Chromifox do Firefox
Comment[sk]=Chrome téma pre Falkon postavená na Firefox Chromifox téme 
Comment[sv]=Chrome-liknande tema för Falkon baserat på Firefox Chromifox-tema
Comment[uk]=Chrome-подібна тема для Falkon, заснована на темі Chromifox для Firefox
Comment[x-test]=xxChrome like theme for Falkon based on Firefox Chromifox themexx
Comment[zh_CN]=基于火狐 Chromifox 主题的类似于 Chrome 的 Falkon 主题

Icon=theme.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=license.txt
