[Desktop Entry]
Name=Vertical Tabs
Name[ca]=Pestanyes verticals
Name[ca@valencia]=Pestanyes verticals
Name[fi]=Pystyvälilehdet
Name[nl]=Verticale tabbladen
Name[pt]=Páginas Verticais
Name[sv]=Vertikala flikar
Name[uk]=Вертикальні вкладки
Name[x-test]=xxVertical Tabsxx
Comment=Adds ability to show tabs in sidebar
Comment[ca]=Afegeix la possibilitat de mostrar pestanyes a la barra lateral
Comment[ca@valencia]=Afig la possibilitat de mostrar pestanyes a la barra lateral
Comment[fi]=Lisää kyvyn näyttää välilehdet sivupalkissa
Comment[nl]=Voegt mogelijkheid toe om tabbladen in de zijbalk te tonen
Comment[pt]=Adiciona a capacidade de mostrar as páginas na barra lateral
Comment[sv]=Lägger till möjlighet att visa flikar i sidorader
Comment[uk]=Додає можливість показу вкладок на бічній панелі
Comment[x-test]=xxAdds ability to show tabs in sidebarxx

Icon=:verticaltabs/data/icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
