[Desktop Entry]
Name=Vertical Tabs
Name[ca]=Pestanyes verticals
Name[ca@valencia]=Pestanyes verticals
Name[cs]=Svislé karty
Name[da]=Lodrette faneblade
Name[de]=Senkrechte Unterfenster
Name[en_GB]=Vertical Tabs
Name[es]=Pestañas verticales
Name[fi]=Pystyvälilehdet
Name[fr]=Onglets verticaux
Name[gl]=Lapelas verticais
Name[id]=Vertical Tabs
Name[it]=Schede verticali
Name[nl]=Verticale tabbladen
Name[nn]=Loddrette faner
Name[pl]=Pionowe karty
Name[pt]=Páginas Verticais
Name[pt_BR]=Abas verticais
Name[sk]=Vertikálne karty
Name[sv]=Vertikala flikar
Name[uk]=Вертикальні вкладки
Name[x-test]=xxVertical Tabsxx
Name[zh_CN]=垂直标签页
Comment=Adds ability to show tabs in sidebar
Comment[ca]=Afegeix la possibilitat de mostrar les pestanyes a la barra lateral
Comment[ca@valencia]=Afig la possibilitat de mostrar les pestanyes a la barra lateral
Comment[cs]=Přidává schopnost zobrazit karty v postranní liště
Comment[da]=Tilføjer mulighed for at vise faneblade i sidepanel
Comment[de]=Anzeige von Unterfenstern in der Seitenleiste
Comment[en_GB]=Adds ability to show tabs in sidebar
Comment[es]=Añade la posibilidad de mostrar pestañas en la barra lateral
Comment[fi]=Lisää kyvyn näyttää välilehdet sivupalkissa
Comment[fr]=Prise en charge de l'affichage des onglets dans le panneau latéral
Comment[gl]=Permite mostrar lapelas na barra lateral
Comment[id]=Menambah kemampuan untuk menampilkan tab dalam bilah sisi
Comment[it]=Aggiunge la capacità di mostrare le schede nella barra laterale
Comment[nl]=Voegt mogelijkheid toe om tabbladen in de zijbalk te tonen
Comment[nn]=Gjer det mogleg å visa faner i sidestolpen
Comment[pl]=Dodaje możliwość pokazywania kart na pasku bocznym
Comment[pt]=Adiciona a capacidade de mostrar as páginas na barra lateral
Comment[pt_BR]=Adiciona a habilidade de mostrar abas na barra lateral
Comment[sk]=Pridáva schopnosť zobraziť karty v bočnom paneli
Comment[sv]=Lägger till möjlighet att visa flikar i sidorader
Comment[uk]=Додає можливість показу вкладок на бічній панелі
Comment[x-test]=xxAdds ability to show tabs in sidebarxx
Comment[zh_CN]=添加在边栏中显示标签页的功能

Icon=:verticaltabs/data/icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
