[Desktop Entry]
Name=Vertical Tabs
Comment=Adds ability to show tabs in sidebar

Icon=:verticaltabs/data/icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
