[Desktop Entry]
Name=ImageFinder
Name[ca]=ImageFinder
Name[ca@valencia]=ImageFinder
Name[cs]=ImageFinder
Name[da]=ImageFinder
Name[de]=Bildersuche
Name[en_GB]=ImageFinder
Name[es]=Buscador de imágenes
Name[fi]=ImageFinder
Name[fr]=ImageFinder
Name[id]=ImageFinder
Name[it]=Cercatore di immagini
Name[nl]=ImageFinder
Name[nn]=Biletsøk
Name[pl]=Wyszukiwarka obrazów
Name[pt]=Pesquisa de Imagens
Name[pt_BR]=ImageFinder
Name[sk]=ImageFinder
Name[sv]=ImageFinder
Name[uk]=Пошук зображень
Name[x-test]=xxImageFinderxx
Name[zh_CN]=图像搜索引擎
Comment=Provides context menu with reverse image search engine support
Comment[ca]=Proporciona un menú contextual amb suport pel motor de cerca inversa d'imatges
Comment[ca@valencia]=Proporciona un menú contextual amb suport pel motor de cerca inversa d'imatges
Comment[cs]=Poskytuje kontextovou nabídku pro nástroj pro vyhledávání obrázků
Comment[da]=Giver genvejsmenu med understøttelse af omvendt billedsøgetjeneste
Comment[de]=Kontextmenü mit Unterstützung für umgekehrte Bildersuche
Comment[en_GB]=Provides context menu with reverse image search engine support
Comment[es]=Proporciona un menú de contexto con implementación de búsqueda inversa de imágenes
Comment[fi]=Tarjoaa kontekstivalikon käänteisen kuvahaun tuen moottorille
Comment[fr]=Prise en charge de menu contextuels de recherche d'image inversée
Comment[id]=Menyediakan menu konteks dengan dukungan mesin pencari gambar terbalik
Comment[it]=Fornisce un menu contestuale con un supporto al motore di ricerca inversa di immagini
Comment[nl]=Biedt contextmenu met ondersteuningsengine voor omgekeerd afbeeldingen zoeken
Comment[nn]=Gjev kontekstmeny med støtte for biletsøkjemotorar
Comment[pl]=Zapewnia menu podręczne do wstecznego wyszukiwania obrazami
Comment[pt]=Oferece um menu de contexto com o suporte para motores de busca invertidos de imagens
Comment[pt_BR]=Fornece um menu de contexto com suporte a pesquisa de imagem reversa
Comment[sk]=Poskytuje kontextovú ponuku pre podporu spätného vyhľadania obrázkov
Comment[sv]=Tillhandahåller sammanhangsberoende meny med stöd för omvänd bildsöktjänst
Comment[uk]=Забезпечує роботу пунктів контекстного меню для зворотного пошуку зображень за допомогою служб пошуку
Comment[x-test]=xxProvides context menu with reverse image search engine supportxx
Comment[zh_CN]=为图像反向搜索引擎提供上下文菜单

Icon=:imgfinder/data/icon.png
Type=Service

X-Falkon-Author=Vladislav Tronko
X-Falkon-Email=innermous@gmail.com
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
