[Desktop Entry]
Name=ImageFinder
Comment=Provides context menu with reverse image search engine support

Icon=:imgfinder/data/icon.png
Type=Service

X-Falkon-Author=Vladislav Tronko
X-Falkon-Email=innermous@gmail.com
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
