[Desktop Entry]
Name=ImageFinder
Name[ca]=ImageFinder
Name[pt]=Pesquisa de Imagens
Name[sv]=ImageFinder
Name[uk]=Пошук зображень
Name[x-test]=xxImageFinderxx
Comment=Provides context menu with reverse image search engine support
Comment[ca]=Proporciona un menú contextual amb suport pel motor de cerca inversa d'imatges
Comment[pt]=Oferece um menu de contexto com suporte para pesquisa inversa de imagens nos motores de busca
Comment[sv]=Tillhandahåller sammanhangsberoende meny med stöd för omvänd bildsöktjänst
Comment[uk]=Забезпечує роботу пунктів контекстного меню для зворотного пошуку зображень за допомогою служб пошуку
Comment[x-test]=xxProvides context menu with reverse image search engine supportxx

Icon=:imgfinder/data/icon.png
Type=Service

X-Falkon-Author=Vladislav Tronko
X-Falkon-Email=innermous@gmail.com
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
