[Desktop Entry]
Name=Run Action
Name[en_GB]=Run Action
Name[pt]=Executar uma Acção
Name[sv]=Utför åtgärd
Name[uk]=Виконати дію
Name[x-test]=xxRun Actionxx
Comment=Run various actions on sites
Comment[en_GB]=Run various actions on sites
Comment[pt]=Executar várias acções sobre as páginas
Comment[sv]=Utför diverse åtgärder på webbplatser
Comment[uk]=Виконання різноманітних дій на сайтах
Comment[x-test]=xxRun various actions on sitesxx

Icon=icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
