[Desktop Entry]
Name=Run Action
Comment=Run various actions on sites

Icon=icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
