[Desktop Entry]
Name=Run Action
Name[ca]=Executa una acció
Name[ca@valencia]=Executa una acció
Name[cs]=Spustit činnost
Name[en_GB]=Run Action
Name[nl]=Uitvoeractie
Name[pt]=Executar uma Acção
Name[sv]=Utför åtgärd
Name[uk]=Виконати дію
Name[x-test]=xxRun Actionxx
Comment=Run various actions on sites
Comment[ca]=Executa diverses accions als llocs
Comment[ca@valencia]=Executa diverses accions als llocs
Comment[cs]=Spouštět různé činnosti na stránkách
Comment[en_GB]=Run various actions on sites
Comment[nl]=Verschillende acties op sites uitvoeren
Comment[pt]=Executar várias acções sobre as páginas
Comment[sv]=Utför diverse åtgärder på webbplatser
Comment[uk]=Виконання різноманітних дій на сайтах
Comment[x-test]=xxRun various actions on sitesxx

Icon=icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
