[Desktop Entry]
Name=Hello Python
Comment=Example Python extension

Icon=
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
