[Desktop Entry]
Name=Hello Python
Name[az]=Salam, Python
Name[ca]=Hola Python
Name[ca@valencia]=Hola Python
Name[cs]=Hello Python
Name[da]=Hallo Python
Name[de]=Hallo-Python
Name[el]=Hello Python
Name[en_GB]=Hello Python
Name[es]=Hola Python
Name[et]=Tere Python
Name[eu]=Kaixo Python
Name[fi]=Hei Python
Name[fr]=Hello Python
Name[gl]=Ola, Python!
Name[ia]=Salute Python
Name[id]=Hello Python
Name[it]=Hello Python
Name[ko]=안녕 파이썬
Name[lt]=Sveiki Python
Name[nl]=Hallo Python
Name[nn]=Hei-Python
Name[pl]=Hello Python
Name[pt]=Olá em Python
Name[pt_BR]=Olá Python
Name[ru]=Hello Python
Name[sk]=Hello Python
Name[sl]=Hello Python
Name[sv]=Hej Python
Name[uk]=Привіт, Python
Name[x-test]=xxHello Pythonxx
Name[zh_CN]=Hello Python
Name[zh_TW]=嗨 Python
Comment=Example Python extension
Comment[az]=Python qoşması nümunəsi
Comment[ca]=Exemple d'una extensió en Python
Comment[ca@valencia]=Exemple d'una extensió en Python
Comment[cs]=Ukázkové rozšíření v Pythonu
Comment[da]=Eksempel Python-udvidelse
Comment[de]=Beispiel eines Python-Moduls
Comment[el]=Παράδειγμα επέκτασης Python
Comment[en_GB]=Example Python extension
Comment[es]=Ejemplo de extensión de Python
Comment[et]=Pythoni laienduse näidis
Comment[eu]=Python-en hedapen adibidea
Comment[fi]=Esimerkinomainen Python-laajennus
Comment[fr]=Exemple d'extension Python
Comment[gl]=Extensión de Python de exemplo
Comment[ia]=Extension de Python de exemplo
Comment[id]=Contoh ekstensi Python
Comment[it]=Estensione di esempio in Python
Comment[ko]=예제 파이썬 확장 기능
Comment[lt]=Pavyzdinis Python plėtinis
Comment[nl]=Voorbeeld Python-extensie
Comment[nn]=Eksempel på Python-tillegg
Comment[pl]=Przykładowe rozszerzenie Python
Comment[pt]=Extensão de exemplo em Python
Comment[pt_BR]=Exemplo de extensão Python
Comment[ru]=Пример расширения Python
Comment[sk]=Príkladové rozšírenie v Python-e
Comment[sl]=Primer razširitve za Python
Comment[sv]=Exempel på Python-utökning
Comment[uk]=Приклад розширення мовою Python
Comment[x-test]=xxExample Python extensionxx
Comment[zh_CN]=Python 扩展示例
Comment[zh_TW]=Python 擴充程式範例

Icon=
Type=Service
X-Falkon-Type=Extension/Python

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
