[Desktop Entry]
Name=Hello Python
Name[ca]=Hola Python
Name[ca@valencia]=Hola Python
Name[cs]=Hello Python
Name[en_GB]=Hello Python
Name[id]=Hello Python
Name[it]=Hello Python
Name[nl]=Hallo Python
Name[pt]=Olá em Python
Name[sv]=Hej Python
Name[uk]=Привіт, Python
Name[x-test]=xxHello Pythonxx
Name[zh_CN]=Hello Python
Comment=Example Python extension
Comment[ca]=Exemple d'una extensió en Python
Comment[ca@valencia]=Exemple d'una extensió en Python
Comment[cs]=Ukázkové rozšíření v Pythonu
Comment[en_GB]=Example Python extension
Comment[id]=Contoh ekstensi Python
Comment[it]=Estensione di esempio in Python
Comment[nl]=Voorbeeld Python-extensie
Comment[pt]=Extensão de exemplo em Python
Comment[sv]=Exempel på Python-utökning
Comment[uk]=Приклад розширення мовою Python
Comment[x-test]=xxExample Python extensionxx
Comment[zh_CN]=Python 扩展示例

Icon=
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
