[Desktop Entry]
Name=Gnome Keyring Passwords
Name[ca]=Contrasenyes a l'anell de claus de Gnome
Name[ca@valencia]=Contrasenyes a l'anell de claus de Gnome
Name[nl]=GNOME-sleutelbos wachtwoorden
Name[pt]=Senhas no Porta-Chaves do Gnome
Name[sv]=Gnome-nyckelring lösenord
Name[uk]=Паролі сховища ключів Gnome
Name[x-test]=xxGnome Keyring Passwordsxx
Comment=Provides support for storing passwords in gnome-keyring
Comment[ca]=Proporciona suport per emmagatzemar contrasenyes a l'anell de claus de Gnome
Comment[ca@valencia]=Proporciona suport per emmagatzemar contrasenyes a l'anell de claus de Gnome
Comment[nl]=Biedt ondersteuning voor opslaan van GNOME-sleutelbos wachtwoorden
Comment[pt]=Oferece o suporte para gravar as senhas no 'gnome-keyring'
Comment[sv]=Tillhandahåller stöd för att lagra lösenord i Gnome-nyckelring
Comment[uk]=Забезпечує підтримку зберігання паролів у gnome-keyring
Comment[x-test]=xxProvides support for storing passwords in gnome-keyringxx

Icon=:gkp/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=false
