[Desktop Entry]
Name=Gnome Keyring Passwords
Comment=Provides support for storing passwords in gnome-keyring

Icon=:gkp/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=false
