[Desktop Entry]
Name=KDE Frameworks Integration
Name[ca]=Integració amb els Frameworks del KDE
Name[ca@valencia]=Integració amb els Frameworks del KDE
Name[cs]=Integrace KDE Frameworks
Name[en_GB]=KDE Frameworks Integration
Name[es]=Integración con la infraestructura de KDE
Name[it]=Integrazione con KDE Frameworks
Name[nl]=KDE Frameworks integratie
Name[pt]=Integração com as Plataformas do KDE
Name[sv]=Integration med KDE Ramverk
Name[uk]=Інтерграція із KDE Frameworks
Name[x-test]=xxKDE Frameworks Integrationxx
Comment=Provides support for KIO and storing passwords in KWallet
Comment[ca]=Proporciona suport pel KIO i per emmagatzemar contrasenyes al KWallet
Comment[ca@valencia]=Proporciona suport pel KIO i per emmagatzemar contrasenyes al KWallet
Comment[cs]=Poskytuje podporu pro KIO a ukládání hesel v Kwallet
Comment[en_GB]=Provides support for KIO and storing passwords in KWallet
Comment[es]=Implementa KIO y almacenamiento de contraseñas en KWallet
Comment[it]=Fornisce un supporto per KIO e per l'immagazzinamento delle password in KWallet
Comment[nl]=Biedt ondersteuning voor KIO en opslaan van wachtwoorden in KWallet
Comment[pt]=Oferece o suporte para o KIO e para guardar as senhas no KWallet
Comment[sv]=Tillhandahåller stöd KIO och för att lagra lösenord i plånboken
Comment[uk]=Забезпечує підтримку засобів введення-виведення KIO і зберігання паролів у KWallet
Comment[x-test]=xxProvides support for KIO and storing passwords in KWalletxx
Comment[zh_CN]=提供在 KWallet 中保存密码以及 KIO 的支持

Icon=:kdeframeworksintegration/data/icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.3.0
X-Falkon-Settings=false
