[Desktop Entry]
Name=KDE Frameworks Integration
Name[ca]=Integració amb els Frameworks del KDE
Name[id]=KDE Frameworks Integration
Name[nl]=KDE Frameworks integratie
Name[sv]=Integration med KDE Ramverk
Name[uk]=Інтерграція із KDE Frameworks
Name[x-test]=xxKDE Frameworks Integrationxx
Comment=Provides support for KIO and storing passwords in KWallet
Comment[ca]=Proporciona suport pel KIO i per emmagatzemar les contrasenyes al KWallet
Comment[id]=Menyediakan dukungan untuk KIO dan menyimpan sandi dalam KWallet
Comment[nl]=Biedt ondersteuning voor KIO en opslaan van wachtwoorden in KWallet
Comment[sv]=Tillhandahåller stöd för KIO och lagring av lösenord i plånboken
Comment[uk]=Забезпечує підтримку засобів введення-виведення KIO і зберігання паролів у KWallet
Comment[x-test]=xxProvides support for KIO and storing passwords in KWalletxx

Icon=:kdeframeworksintegration/data/icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.3.0
X-Falkon-Settings=false
