[Desktop Entry]
Name=MiddleClickLoader
Comment=Load text in selection clipboard as URL

Icon=
Type=Service

X-Falkon-Author=Juraj Oravec
X-Falkon-Email=sgd.orava@gmail.com
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
