[Desktop Entry]
Name=MiddleClickLoader
Name[ca]=MiddleClickLoader
Name[ca@valencia]=MiddleClickLoader
Name[cs]=Načtení prostředním tlačítkem myši
Name[en_GB]=MiddleClickLoader
Name[es]=Cargador de clic central
Name[fi]=Keskipainikelatain
Name[fr]=MiddleClickLoader
Name[it]=Caricatore al clic centrale
Name[nl]=MiddleClickLoader
Name[nn]=Lasting med midtklikk
Name[pt]=CarregadorBotãoMeio
Name[sv]=Mittenklicksinläsning
Name[uk]=Завантажувач за клацанням середньою
Name[x-test]=xxMiddleClickLoaderxx
Comment=Load text in selection clipboard as URL
Comment[ca]=Carrega text com a URL en una selecció del porta-retalls
Comment[ca@valencia]=Carrega text com a URL en una selecció del porta-retalls
Comment[cs]=Načíst text ve schránce výběru jako URL
Comment[en_GB]=Load text in selection clipboard as URL
Comment[es]=Cargar texto seleccionado en el portapapeles como URL
Comment[fi]=Lataa leikepöytävalinnan tekstin verkko-osoitteeksi
Comment[fr]=Charger l'URL sélectionnée dans le presse-papier
Comment[it]=Carica come URL il testo negli appunti della selezione
Comment[nl]=Tekst laden in selectieklembord als URL
Comment[pt]=Carrega o texto na área de transferência como um URL
Comment[sv]=Läs in text i markeringen eller klippbordet som webbadress
Comment[uk]=Завантажує текст у буфері обміну як адресу
Comment[x-test]=xxLoad text in selection clipboard as URLxx

Icon=
Type=Service

X-Falkon-Author=Juraj Oravec
X-Falkon-Email=sgd.orava@gmail.com
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
