[Desktop Entry]
Name=KWallet Passwords
Comment=Provides support for storing passwords in KWallet

Icon=:kwp/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.2
X-Falkon-Settings=false
