[Desktop Entry]
Name=KWallet Passwords
Name[ca]=Contrasenyes del KWallet
Name[ca@valencia]=Contrasenyes del KWallet
Name[en_GB]=KWallet Passwords
Name[fi]=KWallet-salasanat
Name[it]=Password di KWallet
Name[nl]=Wachtwoorden in KWallet
Name[sv]=Plånbokens lösenord
Name[uk]=Паролі KWallet
Name[x-test]=xxKWallet Passwordsxx
Comment=Provides support for storing passwords in KWallet
Comment[ca]=Proporciona suport per emmagatzemar contrasenyes al KWallet
Comment[it]=Fornisce un supporto per l'immagazzinamento delle password in KWallet
Comment[x-test]=xxProvides support for storing passwords in KWalletxx

Icon=:kwp/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.2
X-Falkon-Settings=false
