[Desktop Entry]
Name=KWallet Passwords
Name[ca]=Contrasenyes del KWallet
Name[ca@valencia]=Contrasenyes del KWallet
Name[cs]=Hesla Kwallet
Name[da]=Adgangskoder til KWallet
Name[de]=KWallet-Passwörter
Name[en_GB]=KWallet Passwords
Name[es]=Contraseñas de KWallet
Name[fi]=KWallet-salasanat
Name[fr]=Mots de passe KWallet
Name[id]=KWallet Passwords
Name[it]=Password di KWallet
Name[nl]=Wachtwoorden in KWallet
Name[nn]=KWallet-passord
Name[pl]=Hasła KPortfela
Name[pt]=Senhas no KWallet
Name[pt_BR]=Senhas do KWallet
Name[sv]=Plånbokens lösenord
Name[uk]=Паролі KWallet
Name[x-test]=xxKWallet Passwordsxx
Name[zh_CN]=KWallet 密码
Comment=Provides support for storing passwords in KWallet
Comment[ca]=Proporciona suport per emmagatzemar contrasenyes al KWallet
Comment[ca@valencia]=Proporciona suport per emmagatzemar contrasenyes al KWallet
Comment[cs]=Poskytuje podporu pro ukládání hesel v Kwallet
Comment[da]=Giver understøttelse til lagring af adgangskoder i KWallet
Comment[de]=Unterstützung für die Speicherung von Passwörtern in KWallet
Comment[en_GB]=Provides support for storing passwords in KWallet
Comment[es]=Implementa el almacenamiento de contraseñas en KWallet
Comment[fi]=Tarjoaa tuen salasanojen tallentamiseksi KWalletiin
Comment[fr]=Prise en charge du stockage de mots de passe dans KWallet
Comment[id]=Menyediakan dukungan untuk menyimpan sandi dalam KWallet
Comment[it]=Fornisce un supporto per l'immagazzinamento delle password in KWallet
Comment[nl]=Biedt ondersteuning voor opslaan van wachtwoorden in KWallet
Comment[nn]=Gjev støtte for lagring av passord i KWallet
Comment[pl]=Zapewnia obsługę przechowywania haseł w KPortfelu
Comment[pt]=Oferece o suporte para guardar as senhas no KWallet
Comment[pt_BR]=Fornece suporte para armazenar senhas no KWallet
Comment[sv]=Tillhandahåller stöd för att lagra lösenord i plånboken
Comment[uk]=Забезпечує підтримку зберігання паролів у KWallet
Comment[x-test]=xxProvides support for storing passwords in KWalletxx
Comment[zh_CN]=为在 KWallet 中保存密码提供支持

Icon=:kwp/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.2
X-Falkon-Settings=false
