[Desktop Entry]
Name=Tab Manager
Comment=Adds ability to managing tabs and windows

Icon=:tabmanager/data/tabmanager.png
Type=Service

X-Falkon-Author=Razi Alavizadeh
X-Falkon-Email=s.r.alavizadeh@gmail.com
X-Falkon-Version=0.8.0
X-Falkon-Settings=true
