[Desktop Entry]
Name=Tab Manager
Name[ca]=Gestor de pestanyes
Name[pt]=Gestor de Páginas
Name[sv]=Flikhanterare
Name[uk]=Керування вкладками
Name[x-test]=xxTab Managerxx
Comment=Adds ability to managing tabs and windows
Comment[ca]=Afegeix la possibilitat de gestionar pestanyes i finestres
Comment[pt]=Adiciona a capacidade para gerir páginas e janelas
Comment[sv]=Lägger till möjlighet att hantera flikar och fönster
Comment[uk]=Додає можливість керування вкладками і вікнами
Comment[x-test]=xxAdds ability to managing tabs and windowsxx

Icon=:tabmanager/data/tabmanager.png
Type=Service

X-Falkon-Author=Razi Alavizadeh
X-Falkon-Email=s.r.alavizadeh@gmail.com
X-Falkon-Version=0.8.0
X-Falkon-Settings=true
