[Desktop Entry]
Name=Tab Manager
Name[ca]=Gestor de pestanyes
Name[ca@valencia]=Gestor de pestanyes
Name[cs]=Správce karet
Name[da]=Fanebladshåndtering
Name[de]=Unterfensterverwaltung
Name[en_GB]=Tab Manager
Name[es]=Gestor de pestañas
Name[fi]=Välilehtien hallinta
Name[fr]=Gestionnaire d'onglets
Name[gl]=Xestor de lapelas
Name[id]=Tab Manager
Name[it]=Gestore delle schede
Name[nl]=Tabbladbeheerder
Name[nn]=Fanehandsamar
Name[pl]=Zarządzanie kartami
Name[pt]=Gestor de Páginas
Name[pt_BR]=Gerenciador de guias
Name[sk]=Správca kariet
Name[sv]=Flikhanterare
Name[uk]=Керування вкладками
Name[x-test]=xxTab Managerxx
Name[zh_CN]=标签页管理器
Comment=Adds ability to managing tabs and windows
Comment[ca]=Afegeix la possibilitat de gestionar les pestanyes i finestres
Comment[ca@valencia]=Afig la possibilitat de gestionar les pestanyes i finestres
Comment[cs]=Přidává schopnost správy karet a oken
Comment[da]=Tilføjer mulighed for at håndtere faneblade og vinduer
Comment[de]=Verwaltung von Unterfenstern und Fenstern
Comment[en_GB]=Adds ability to managing tabs and windows
Comment[es]=Añade la posibilidad de gestionar pestañas y ventanas
Comment[fi]=Lisää kyvyn hallita välilehtiä ja ikkunoita
Comment[fr]=Ajout d'une capacité de gestion des onglets et des fenêtres
Comment[gl]=Permite xestionar lapelas e xanelas
Comment[id]=Menambah kemampuan untuk mengelola tab dan window
Comment[it]=Aggiunge la capacità di gestione delle schede e delle finestre
Comment[nl]=Voegt mogelijkheid toe om tabbladen en vensters te beheren
Comment[nn]=Gjer det mogleg å handtera faner og vindauge
Comment[pl]=Dodaje możliwość zarządzania kartami i oknami
Comment[pt]=Adiciona a capacidade para gerir páginas e janelas
Comment[pt_BR]=Adiciona a habilidade de gerenciar guias e janelas
Comment[sk]=Pridáva schopnosť spravovať karty a okná
Comment[sv]=Lägger till möjlighet att hantera flikar och fönster
Comment[uk]=Додає можливість керування вкладками і вікнами
Comment[x-test]=xxAdds ability to managing tabs and windowsxx
Comment[zh_CN]=添加管理标签页和窗口的功能

Icon=:tabmanager/data/tabmanager.png
Type=Service

X-Falkon-Author=Razi Alavizadeh
X-Falkon-Email=s.r.alavizadeh@gmail.com
X-Falkon-Version=0.8.0
X-Falkon-Settings=true
