[Desktop Entry]
Name=AutoScroll
Comment=Provides support for autoscroll with middle mouse button

Icon=:autoscroll/data/scroll_all.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=1.0.1
X-Falkon-Settings=true
