[Desktop Entry]
Name=AutoScroll
Name[ca]=Desplaçament automàtic
Name[ca@valencia]=Desplaçament automàtic
Name[fi]=Automaattivieritys
Name[nl]=Auto-schuiven
Name[pt]=Deslocamento Automático
Name[sv]=Rulla automatiskt
Name[uk]=Автогортання
Name[x-test]=xxAutoScrollxx
Comment=Provides support for autoscroll with middle mouse button
Comment[ca]=Proporciona suport per al desplaçament automàtic amb el botó mig del ratolí
Comment[ca@valencia]=Proporciona suport per al desplaçament automàtic amb el botó mig del ratolí
Comment[fi]=Tarjoaa automaattivieritystuen hiiren keskipainikkeelle
Comment[nl]=Bied ondersteuning voor auto-schuiven met middelste muisknop
Comment[pt]=Oferece o suporte para o deslocamento automático com o botão do meio do rato
Comment[sv]=Tillhandahåller stöd för automatisk rullning med musens mittenknapp
Comment[uk]=Забезпечує підтримку автогортання середньою кнопкою миші
Comment[x-test]=xxProvides support for autoscroll with middle mouse buttonxx

Icon=:autoscroll/data/scroll_all.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=1.0.1
X-Falkon-Settings=true
