[Desktop Entry]
Name=AutoScroll
Name[az]=AvtoSürüşmə
Name[ca]=Desplaçament automàtic
Name[ca@valencia]=Desplaçament automàtic
Name[cs]=Automatické posouvání
Name[da]=Autorul
Name[de]=Automatischer Bildlauf
Name[el]=Αυτόματη κύλιση
Name[en_GB]=AutoScroll
Name[es]=Desplazamiento automático
Name[et]=Automaatne kerimine
Name[eu]=Kiribiltze automatikoa
Name[fi]=Automaattivieritys
Name[fr]=AutoScroll
Name[gl]=Desprazamento automático
Name[ia]=Auto rolar
Name[id]=AutoScroll
Name[it]=Scorrimento automatico
Name[ko]=자동 스크롤
Name[lt]=Automatinis slinkimas
Name[nl]=Auto-schuiven
Name[nn]=Autorulling
Name[pl]=Automatyczne przewijanie
Name[pt]=Deslocamento Automático
Name[pt_BR]=AutoScroll
Name[ru]=Автопрокрутка
Name[sk]=Automatické posúvanie
Name[sl]=Samodejno drsenje
Name[sv]=Rulla automatiskt
Name[uk]=Автогортання
Name[x-test]=xxAutoScrollxx
Name[zh_CN]=自动滚动
Name[zh_TW]=AutoScroll
Comment=Provides support for autoscroll with middle mouse button
Comment[az]=Siçanın orta düyməsi ilə avtosürüşmə dəstəklənməsini təmin edir
Comment[ca]=Proporciona suport per al desplaçament automàtic amb el botó del mig del ratolí
Comment[ca@valencia]=Proporciona suport per al desplaçament automàtic amb el botó del mig del ratolí
Comment[cs]=Poskytuje podporu pro automatický posun pomocí prostředního tlačítka
Comment[da]=Giver understøttelse af autorul med den midterste museknap
Comment[de]=Automatisches Blättern mit der mittleren Maustaste
Comment[el]=Παρέχειυποστήριξη για αυτόματη κύλιση με το μεσαίο κουμπί του ποντικιού
Comment[en_GB]=Provides support for autoscroll with middle mouse button
Comment[es]=Implementa ell desplazamiento automático con el botón medio del ratón
Comment[et]=Automaatse kerimise toetus hiire keskmise nupuga
Comment[eu]=Kiribiltze automatikoaren euskarria ematen du saguaren erdiko botoiaren bidez
Comment[fi]=Tarjoaa automaattivieritystuen hiiren keskipainikkeelle
Comment[fr]=Prise en charge du défilement automatique à l'aide du bouton central de la souris
Comment[gl]=Fornece a funcionalidade de desprazamento automático co botón central
Comment[ia]=Provide supporto per autorolar con le button de mus de medio
Comment[id]=Menyediakan dukungan untuk gulir otomatis dengan tombol tengah mouse
Comment[it]=Fornisce il supporto allo scorrimento automatico con il pulsante centrale del mouse
Comment[ko]=마우스 가운데 단추로 자동 스크롤 지원
Comment[lt]=Pateikia automatinio slinkimo viduriniuoju pelės mygtuku palaikymą
Comment[nl]=Bied ondersteuning voor auto-schuiven met middelste muisknop
Comment[nn]=Gjev støtte for autorulling med midtknappen på musa
Comment[pl]=Umożliwia automatyczne przewijanie przy pomocy środkowego przycisku myszy
Comment[pt]=Oferece o suporte para o deslocamento automático com o botão do meio do rato
Comment[pt_BR]=Fornece suporte para rolagem automática com o botão do meio do mouse
Comment[ru]=Предоставляет поддержку автопрокрутки с помощью средней кнопки мыши
Comment[sk]=Poskytuje podporu pre Automatické posúvanie so stredným tlačidlom myši
Comment[sl]=Omogoča podporo za samodejno drsenje s srednjim gumbom miške
Comment[sv]=Tillhandahåller stöd för automatisk rullning med musens mittenknapp
Comment[uk]=Забезпечує підтримку автогортання середньою кнопкою миші
Comment[x-test]=xxProvides support for autoscroll with middle mouse buttonxx
Comment[zh_CN]=为鼠标中键滚动提供支持
Comment[zh_TW]=提供使用滑鼠中鍵自動捲動的支援

Icon=:autoscroll/data/scroll_all.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=1.0.1
X-Falkon-Settings=true
