[Desktop Entry]
Name=Mouse Gestures
Name[ca]=Gestos del ratolí
Name[ca@valencia]=Gestos del ratolí
Name[cs]=Gesta myší
Name[da]=Musebevægelser
Name[de]=Mausgesten
Name[en_GB]=Mouse Gestures
Name[es]=Gestos de ratón
Name[eu]=Saguaren Keinuak
Name[fi]=Hiirieleet
Name[fr]=Mouvements de souris
Name[gl]=Xestos do rato
Name[ia]=Gestures de mus
Name[id]=Gestur Mouse
Name[it]=Gesti del mouse
Name[ko]=마우스 제스처
Name[nl]=Muisgebaren
Name[nn]=Muserørsler
Name[pl]=Gesty myszy
Name[pt]=Gestos do Rato
Name[pt_BR]=Gestos do mouse
Name[sk]=Gestá myši
Name[sv]=Musgester
Name[uk]=Керування мишею
Name[x-test]=xxMouse Gesturesxx
Name[zh_CN]=鼠标手势
Name[zh_TW]=滑鼠手勢
Comment=Provides support for navigating in webpages by mouse gestures
Comment[ca]=Proporciona suport per a navegar per les pàgines web amb els gestos del ratolí
Comment[ca@valencia]=Proporciona suport per a navegar per les pàgines web amb els gestos del ratolí
Comment[cs]=Poskytuje podporu pro procházení webových stránek pomocí gest myší
Comment[da]=Giver understøttelse af navigering på websider med musebevægelser
Comment[de]=Unterstützung für die Navigation auf Webseiten durch Mausgesten
Comment[en_GB]=Provides support for navigating in webpages by mouse gestures
Comment[es]=Implementa la navegación en páginas web mediante gestos de ratón
Comment[eu]=Web-orrietan saguaren keinuen bidez nabigatzeko euskarria hornitzen du
Comment[fi]=Tarjoaa tuen verkkosivujen selaamiseksi hiirielein
Comment[fr]=Prise en charge de la navigation Internet à l'aide de mouvements de la souris
Comment[gl]=Permite navegar por páxinas web con acenos co rato
Comment[id]=Menyediakan dukungan untuk menavigasi dalam halaman web dengan gestur mouse
Comment[it]=Fornisce un supporto alla navigazione nelle pagine web per mezzo di gesti del mouse
Comment[ko]=마우스 제스처로 웹 페이지 탐색 지원
Comment[nl]=Biedt ondersteuning voor navigeren in webpagina's door muisgebaren
Comment[nn]=Gjev støtte for muserørsler for nettsidenavigering
Comment[pl]=Zapewnia obsługę poruszania się po stronach przy użyciu gestów myszy
Comment[pt]=Oferece o suporte para navegar nas páginas Web com gestos do rato
Comment[pt_BR]=Fornece suporte para navegação em sites usando gestos do mouse
Comment[sk]=Poskytuje podporu pre navigovanie na webstránkach pomocou gest myši
Comment[sv]=Tillhandahåller stöd för att navigera på webbsidor med musgester
Comment[uk]=Забезпечує підтримку навігації сторінками за допомогою жестів вказівником миші
Comment[x-test]=xxProvides support for navigating in webpages by mouse gesturesxx
Comment[zh_CN]=提供使用鼠标笔势在网页中导航的支持
Comment[zh_TW]=可以使用滑鼠手勢瀏覽網頁

Icon=:mousegestures/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.5.0
X-Falkon-Settings=true
