[Desktop Entry]
Name=Mouse Gestures
Name[ca]=Gestos del ratolí
Name[ca@valencia]=Gestos del ratolí
Name[pt]=Gestos do Rato
Name[sv]=Musgester
Name[uk]=Керування мишею
Name[x-test]=xxMouse Gesturesxx
Comment=Provides support for navigating in webpages by mouse gestures
Comment[ca]=Proporciona suport per navegar per les pàgines web amb gestos del ratolí
Comment[ca@valencia]=Proporciona suport per navegar per les pàgines web amb gestos del ratolí
Comment[pt]=Oferece o suporte para navegar nas páginas Web com gestos do rato
Comment[sv]=Tillhandahåller stöd för att navigera på webbsidor med musgester
Comment[uk]=Забезпечує підтримку навігації сторінками за допомогою жестів вказівником миші
Comment[x-test]=xxProvides support for navigating in webpages by mouse gesturesxx

Icon=:mousegestures/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.5.0
X-Falkon-Settings=true
