[Desktop Entry]
Name=Mouse Gestures
Comment=Provides support for navigating in webpages by mouse gestures

Icon=:mousegestures/data/icon.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.5.0
X-Falkon-Settings=true
