[Desktop Entry]
Name=Flash Cookie Manager
Comment=You can easily view/delete flash cookies stored on your computer. This is a solution for having more privacy.

Icon=:flashcookiemanager/data/flash-cookie-manager.png
Type=Service

X-Falkon-Author=Razi Alavizadeh
X-Falkon-Email=s.r.alavizadeh@gmail.com
X-Falkon-Version=0.3.0
X-Falkon-Settings=true
