[Desktop Entry]
Name=Flash Cookie Manager
Name[ca]=Gestor de galetes Flash
Name[ca@valencia]=Gestor de galetes Flash
Name[fi]=Flash-evästeiden hallinta
Name[nl]=Cookiebeheerder van Flash
Name[pt]=Gestor de 'Cookies' do Flash
Name[sv]=Flash kakhanterare
Name[uk]=Керування куками Flash
Name[x-test]=xxFlash Cookie Managerxx
Comment=You can easily view/delete flash cookies stored on your computer. This is a solution for having more privacy.
Comment[ca]=Podeu veure/eliminar fàcilment les galetes Flash emmagatzemades a l'ordinador. Aquesta és una solució per tenir més privacitat.
Comment[ca@valencia]=Podeu veure/eliminar fàcilment les galetes Flash emmagatzemades a l'ordinador. Esta és una solució per tindre més privacitat.
Comment[fi]=Voit helposti tarkastella ja poistaa tietokoneelle tallennettuja Flash-evästeitä. Ratkaisu parantaa yksityisyytesi suojaa.
Comment[nl]=U kunt gemakkelijk cookies van flash opgeslagen op uw computer bekijken/verwijderen. Dit is een oplossing om meer privacy te hebben.
Comment[pt]=Poderá ver/apagar facilmente os 'cookies' do Flash gravados no seu computador. Esta é uma solução para ter mais privacidade.
Comment[sv]=Det går enkelt att titta på eller ta bort Flash kakor lagrade på datorn. Det är en lösning på integritetsproblem.
Comment[uk]=Спрощує перегляд і вилучення кук flash, які зберігаються на вашому комп'ютері. Це засіб для поліпшення захисту системи.
Comment[x-test]=xxYou can easily view/delete flash cookies stored on your computer. This is a solution for having more privacy.xx

Icon=:flashcookiemanager/data/flash-cookie-manager.png
Type=Service

X-Falkon-Author=Razi Alavizadeh
X-Falkon-Email=s.r.alavizadeh@gmail.com
X-Falkon-Version=0.3.0
X-Falkon-Settings=true
