[Desktop Entry]
Name=Mac
Name[ca]=Mac
Name[ca@valencia]=Mac
Name[fi]=Mac
Name[nl]=Mac
Name[pt]=Mac
Name[sv]=Mac
Name[uk]=Mac
Name[x-test]=xxMacxx
Comment=Mac like theme for Falkon based on Firefox Mac OS X theme
Comment[ca]=Tema semblant al Mac pel Falkon basat en el tema Mac OS X del Firefox
Comment[ca@valencia]=Tema paregut al Mac pel Falkon basat en el tema Mac OS X del Firefox
Comment[fi]=Firefoxin Mac OS X -teemaan pohjautuva Macin kaltainen Falkon-teema
Comment[nl]=Op Mac lijkend thema voor Falkon gebaseerd op Firefox Mac OS X thema
Comment[pt]=Tema semelhante ao Mac para o Falkon, baseado no tema Mac OS X do Firefox
Comment[sv]=Mac-liknande tema för Falkon baserat på Firefox Mac OS X-tema
Comment[uk]=Mac-подібна тема для Falkon, заснована на темі Mac OS X для Firefox
Comment[x-test]=xxMac like theme for Falkon based on Firefox Mac OS X themexx

Icon=theme.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=license.txt
