[Desktop Entry]
Name=Mac
Name[ca]=Mac
Name[ca@valencia]=Mac
Name[cs]=Mac
Name[da]=Mac
Name[de]=Mac
Name[en_GB]=Mac
Name[es]=Mac
Name[fi]=Mac
Name[id]=Mac
Name[it]=Mac
Name[nl]=Mac
Name[pl]=Mac
Name[pt]=Mac
Name[sv]=Mac
Name[uk]=Mac
Name[x-test]=xxMacxx
Name[zh_CN]=Mac
Comment=Mac like theme for Falkon based on Firefox Mac OS X theme
Comment[ca]=Tema semblant al Mac pel Falkon basat en el tema Mac OS X del Firefox
Comment[ca@valencia]=Tema semblant al Mac pel Falkon basat en el tema Mac OS X del Firefox
Comment[cs]=Motiv pro Falkon podobný Macu založený na motivu Firefox Mac OS X
Comment[da]=Mac-lignende tema til Falkon baseret på Firefox Mac OS X-tema
Comment[en_GB]=Mac like theme for Falkon based on Firefox Mac OS X theme
Comment[es]=Tema estilo Mac para Falkon basado en el tema Firefox Mac OS X
Comment[fi]=Firefoxin Mac OS X -teemaan pohjautuva Macin kaltainen Falkon-teema
Comment[id]=Tema seperti Mac untuk Falkon berdasarkan pada tema Firefox Mac OS X
Comment[it]=Tema di tipo Mac per Falkon, basato sul tema Mac OS X di Firefox
Comment[nl]=Op Mac lijkend thema voor Falkon gebaseerd op Firefox Mac OS X thema
Comment[pl]=Wygląd przypominający Maka dla Falkona oparty na wyglądzie Firefox Mac OS X
Comment[pt]=Tema semelhante ao Mac para o Falkon, baseado no tema Mac OS X do Firefox
Comment[sv]=Mac-liknande tema för Falkon baserat på Firefox Mac OS X-tema
Comment[uk]=Mac-подібна тема для Falkon, заснована на темі Mac OS X для Firefox
Comment[x-test]=xxMac like theme for Falkon based on Firefox Mac OS X themexx
Comment[zh_CN]=基于 Firefox Mac OS X 主题的类 Mac 主题

Icon=theme.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=license.txt
