[Desktop Entry]
Name=Mac
Comment=Mac like theme for Falkon based on Firefox Mac OS X theme

Icon=theme.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=license.txt
