[Desktop Entry]
Name=AdBlock
Comment=Blocks unwanted web content

Icon=:adblock/data/adblock.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=1.1.0
X-Falkon-Settings=false
