[Desktop Entry]
Name=AdBlock
Name[sv]=Reklamblockering
Name[uk]=Блокування реклами
Name[x-test]=xxAdBlockxx
Comment=Blocks unwanted web content
Comment[sv]=Blockerar oönskat webbinnehåll
Comment[uk]=Блокує небажані інтернет-дані
Comment[x-test]=xxBlocks unwanted web contentxx

Icon=:adblock/data/adblock.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=1.1.0
X-Falkon-Settings=false
