[Desktop Entry]
Name=Hello Qml
Name[ca]=Hola Qml
Name[ca@valencia]=Hola Qml
Name[cs]=Ahoj QML
Name[de]=Hallo QML“
Name[en_GB]=Hello QML
Name[es]=Hola Qml
Name[fi]=Hei QML
Name[fr]=Bonjour Qml
Name[gl]=Ola Qml
Name[id]=Hello Qml
Name[it]=Hello Qml
Name[nl]=Hello Qml
Name[pl]=Hello Qml
Name[pt]=Olá em QML
Name[pt_BR]=Olá Qml
Name[sk]=Hello Qml
Name[sv]=Hallå QML
Name[uk]=Привіт, Qml
Name[x-test]=xxHello Qmlxx
Name[zh_CN]=Hello Qml
Name[zh_TW]=嗨 QML
Comment=Sample Qml Plugin
Comment[ca]=Connector Qml d'exemple
Comment[ca@valencia]=Connector Qml d'exemple
Comment[cs]=Ukázkový modul QML
Comment[de]=Beispielmodul in Qml
Comment[en_GB]=Sample QML Plugin
Comment[es]=Complemento de ejemplo de Qml
Comment[fi]=Esimerkki-QML-liitännäinen
Comment[fr]=Exemple de module externe Qml
Comment[gl]=Complemento de exemplo de Qml
Comment[id]=Contoh Plugin Qml
Comment[it]=Estensione di esempio in Qml
Comment[nl]=Voorbeeld Qml-plug-in
Comment[pl]=Przykładowa wtyczka Qml
Comment[pt]='Plugin' de Exemplo em QML
Comment[pt_BR]=Plug-in QML de exemplo
Comment[sk]=Ukážkový QML plugin
Comment[sv]=QML-exempelinsticksprogram
Comment[uk]=Зразок додатка Qml
Comment[x-test]=xxSample Qml Pluginxx
Comment[zh_CN]=示例 Qml 插件
Comment[zh_TW]=簡易的 QML 外掛

Icon=
Type=Service
X-Falkon-Type=Extension/Qml

X-Falkon-Author=Anmol Gautam
X-Falkon-Email=tarptaeya@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
