[Desktop Entry]
Name=Hello Qml
Name[az]=Salam Qml
Name[ca]=Hola Qml
Name[ca@valencia]=Hola Qml
Name[cs]=Ahoj QML
Name[da]=Hello Qml
Name[de]=Hallo QML
Name[el]=Hello Qml
Name[en_GB]=Hello QML
Name[es]=Hola Qml
Name[et]=Tere QML
Name[eu]=Kaixo QML
Name[fi]=Hei QML
Name[fr]=Bonjour Qml
Name[gl]=Ola Qml
Name[ia]=Salute Qml
Name[id]=Hello Qml
Name[it]=Hello Qml
Name[ko]=안녕 QML
Name[lt]=Sveiki Qml
Name[nl]=Hello Qml
Name[nn]=Hei, QML
Name[pl]=Hello QML
Name[pt]=Olá em QML
Name[pt_BR]=Olá Qml
Name[ru]=Hello Qml
Name[sk]=Hello Qml
Name[sl]=Hello Qml
Name[sv]=Hallå QML
Name[uk]=Привіт, Qml
Name[x-test]=xxHello Qmlxx
Name[zh_CN]=Hello Qml
Name[zh_TW]=嗨 QML
Comment=Sample Qml Plugin
Comment[az]=Sadə Qml qoşması
Comment[ca]=Connector Qml d'exemple
Comment[ca@valencia]=Connector Qml d'exemple
Comment[cs]=Ukázkový modul QML
Comment[da]=Eksempel på Qml-plugin
Comment[de]=Beispielmodul in Qml
Comment[el]=Δείγμα πρόσθετου Qml
Comment[en_GB]=Sample QML Plugin
Comment[es]=Complemento de ejemplo de Qml
Comment[et]=QML-i plugina näidis
Comment[eu]=QML plugin lagina
Comment[fi]=Esimerkki-QML-liitännäinen
Comment[fr]=Exemple de module externe Qml
Comment[gl]=Complemento de exemplo de Qml
Comment[ia]=Plugin de Qml de exemplo
Comment[id]=Contoh Plugin Qml
Comment[it]=Estensione di esempio in Qml
Comment[ko]=예제 QML 플러그인
Comment[lt]=Pavyzdinis Qml papildinys
Comment[nl]=Voorbeeld Qml-plug-in
Comment[nn]=Eksempel på QML-tillegg
Comment[pl]=Przykładowa wtyczka QML
Comment[pt]='Plugin' de Exemplo em QML
Comment[pt_BR]=Plug-in QML de exemplo
Comment[ru]=Пример подключаемого модуля QML
Comment[sk]=Ukážkový QML plugin
Comment[sl]=Primer vtičnika za Qml
Comment[sv]=QML-exempelinsticksprogram
Comment[uk]=Зразок додатка Qml
Comment[x-test]=xxSample Qml Pluginxx
Comment[zh_CN]=示例 Qml 插件
Comment[zh_TW]=簡易的 QML 外掛

Icon=
Type=Service
X-Falkon-Type=Extension/Qml

X-Falkon-Author=Anmol Gautam
X-Falkon-Email=tarptaeya@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
