[Desktop Entry]
Name=Hello Qml
Name[ca]=Hola Qml
Name[ca@valencia]=Hola Qml
Name[es]=Hola Qml
Name[fr]=Bonjour Qml
Name[id]=Hello Qml
Name[nl]=Hello Qml
Name[pt]=Olá em QML
Name[sv]=Hallå QML
Name[uk]=Привіт, Qml
Name[x-test]=xxHello Qmlxx
Comment=Sample Qml Plugin
Comment[ca]=Connector Qml d'exemple
Comment[ca@valencia]=Connector Qml d'exemple
Comment[es]=Complemento de ejemplo de Qml
Comment[fr]=Exemple de module externe Qml
Comment[id]=Contoh Plugin Qml
Comment[nl]=Voorbeeld Qml-plug-in
Comment[pt]='Plugin' de Exemplo em QML
Comment[sv]=QML-exempelinsticksprogram
Comment[uk]=Зразок додатка Qml
Comment[x-test]=xxSample Qml Pluginxx
Icon=
Type=Service
X-Falkon-Author=Anmol Gautam
X-Falkon-Email=tarptaeya@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
X-Falkon-EntryPoint=helloqml.qml
