[Desktop Entry]
Name=Linux
Name[ca]=Linux
Name[pt]=Linux
Name[sv]=Linux
Name[uk]=Linux
Name[x-test]=xxLinuxxx
Name[zh_CN]=Linux
Comment=Default simple theme for Linux using native widget style and some basic icons from desktop icon set
Comment[ca]=Tema senzill predeterminat per al Linux usant l'estil d'estris natiu i diverses icones bàsiques del conjunt d'icones de l'escriptori
Comment[pt]=Tema predefinido simples para o Linux, usando o estilo gráfico nativo e alguns ícones básicos do conjunto de ícones do ambiente de trabalho
Comment[sv]=Enkelt standardtema för Linux som använder inbyggd komponentstil och några grundläggande ikoner från skrivbordets ikonuppsättning
Comment[uk]=Типова проста тема для Linux із використанням природного стилю віджетів і декількох базових піктограм із набору піктограм стільниці
Comment[x-test]=xxDefault simple theme for Linux using native widget style and some basic icons from desktop icon setxx

Icon=theme.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=GPLv3
