[Desktop Entry]
Name=Linux
Comment=Default simple theme for Linux using native widget style and some basic icons from desktop icon set

Icon=theme.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=GPLv3
