[Desktop Entry]
Name=Windows
Name[az]=Windows
Name[ca]=Windows
Name[ca@valencia]=Windows
Name[cs]=Windows
Name[da]=Windows
Name[de]=Windows
Name[el]=Windows
Name[en_GB]=Windows
Name[es]=Windows
Name[et]=Windows
Name[eu]=Windows
Name[fi]=Windows
Name[fr]=Windows
Name[gl]=Xanelas
Name[ia]=Fenestras
Name[id]=Windows
Name[it]=Windows
Name[ko]=Windows
Name[lt]=Windows
Name[nl]=Windows
Name[nn]=Windows
Name[pl]=Windows
Name[pt]=Windows
Name[pt_BR]=Windows
Name[ru]=Windows
Name[sk]=Windows
Name[sl]=Windows
Name[sv]=Windows
Name[uk]=Windows
Name[x-test]=xxWindowsxx
Name[zh_CN]=Windows
Name[zh_TW]=Windows
Comment=Windows like theme based on Material design
Comment[az]=Material dizaynında Windows oxşarı mövzu
Comment[ca]=Tema semblant al Windows, basat en el «Material design»
Comment[ca@valencia]=Tema semblant al Windows, basat en el «Material design»
Comment[cs]=Motiv podobný Windows založený na designu Material
Comment[da]=Windows-lignende tema baseret på Material design
Comment[de]=Windows ähnliches Design auf der Basis des Designs Material
Comment[el]=Θέμα που μοιάζει με Windows με βάση τη σχεδίαση Material
Comment[en_GB]=Windows like theme based on Material design
Comment[es]=Tema estilo Windows basado en el diseño Material
Comment[et]=Windowsi meenutav teema, mille aluseks on Materiali disain
Comment[eu]=Windows-en antzeko gaia «Material design»en oinarritua
Comment[fi]=Material-designiin pohjautuva Windowsin kaltainen teema
Comment[fr]=Thème Windows inspiré par Material
Comment[gl]=Tema parecido a Windows baseado no deseño material
Comment[ia]=Thema simile a Windows basate su dessigno Material
Comment[id]=Tema seperti Windows berdasarkan pada desain Material
Comment[it]=Tema di tipo Windows, basato sul design Material
Comment[ko]=머티리얼 디자인 기반 Windows 형태 테마
Comment[lt]=Į Windows panašus apipavidalinimas, pagrįstas Material dizainu
Comment[nl]=Op Windows lijkend thema gebaseerd op Materiaalontwerp
Comment[nn]=Windows-liknande tema, basert på Material-stilen
Comment[pl]=Wygląd przypominający Windowsa dla Falkona oparty na wyglądzie Material
Comment[pt]=Tema semelhante ao Windows, baseado no 'material design'
Comment[pt_BR]=Tema estilo Windows baseado no Material design
Comment[ru]=Тема в стиле Windows, основанная на системе Material Design
Comment[sk]=Téma ako Windows postavená na Material Dizajne
Comment[sl]=Windowsu podobna tema, ki temelji na temi Material design
Comment[sv]=Windows-liknande tema baserat på Material design
Comment[uk]=Windows-подібна тема, заснована на дизайні Material
Comment[x-test]=xxWindows like theme based on Material designxx
Comment[zh_CN]=基于材料设置的类 Windows 主题
Comment[zh_TW]=基於質感設計的類 Windows 主題

Icon=theme.png
Type=Service
X-Falkon-Type=Theme

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=GPLv3
