[Desktop Entry]
Name=Windows
Comment=Windows like theme based on Material design

Icon=theme.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=GPLv3
