[Desktop Entry]
Name=Windows
Name[ca]=Windows
Name[pt]=Windows
Name[sv]=Windows
Name[uk]=Windows
Name[x-test]=xxWindowsxx
Name[zh_CN]=窗口
Comment=Windows like theme based on Material design
Comment[ca]=Tema semblant al Windows basat en el «Material design»
Comment[pt]=Tema semelhante ao Windows, baseado no 'material design'
Comment[sv]=Windows-liknande tema baserat på Material design
Comment[uk]=Windows-подібна тема, заснована на дизайні Material
Comment[x-test]=xxWindows like theme based on Material designxx

Icon=theme.png
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-License=GPLv3
