[Desktop Entry]
Name=Falkon
Name[ar]=فالكون
Name[ast]=Falkon
Name[ca]=Falkon
Name[ca@valencia]=Falkon
Name[cs]=Falkon
Name[es]=Falkon
Name[nl]=Falkon
Name[pt]=Falkon
Name[sk]=Falkon
Name[sv]=Falkon
Name[uk]=Falkon
Name[x-test]=xxFalkonxx
Type=Application
Icon=qupzilla
Categories=Network;WebBrowser;
Comment=A fast and secure web browser
Comment[ar]=متصفّح وبّ سريع وآمن
Comment[ast]=Un restolador web seguru y rápidu
Comment[ca]=Un navegador web ràpid i segur
Comment[ca@valencia]=Un navegador web ràpid i segur
Comment[cs]=Rychlý a bezpečný webový prohlížeč
Comment[es]=Un navegador web rápido y seguro
Comment[nl]=Een snelle en veilige webbrowser
Comment[pt]=Um navegador Web rápido e seguro
Comment[sv]=En snabb och säker webbläsare
Comment[uk]=Проста і безпечна програма для перегляду інтернету
Comment[x-test]=xxA fast and secure web browserxx
GenericName=Web Browser
GenericName[ar]=متصفّح وبّ
GenericName[ast]=Restolador web
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[es]=Navegador web
GenericName[fr]=Navigateur Web
GenericName[nl]=Webbrowser
GenericName[pt]=Navegador Web
GenericName[sk]=Webový prehliadač
GenericName[sv]=Webbläsare
GenericName[uk]=Переглядач інтернету
GenericName[x-test]=xxWeb Browserxx
Exec=falkon %u
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;application/x-mimearchive;
Terminal=false
Actions=NewTab;NewWindow;PrivateBrowsing;

[Desktop Action NewTab]
Name=Open new tab
Name[ar]=افتح لسانًا جديدًا
Name[ast]=Abrir llingüeta nueva
Name[ca]=Obre una pestanya nova
Name[ca@valencia]=Obri una pestanya nova
Name[cs]=Otevřít novou kartu
Name[es]=Abrir nueva pestaña
Name[nl]=Nieuw tabblad openen
Name[pt]=Abrir uma nova página
Name[sk]=Otvoriť novú záložku
Name[sv]=Öppna ny flik
Name[uk]=Відкрити нову вкладку
Name[x-test]=xxOpen new tabxx
Exec=falkon --new-tab

[Desktop Action NewWindow]
Name=Open new window
Name[ar]=افتح نافذة جديدة
Name[ast]=Abrir ventana nueva
Name[ca]=Obre una finestra nova
Name[ca@valencia]=Obri una finestra nova
Name[cs]=Otevřít nové okno
Name[es]=Abrir nueva ventana
Name[nl]=Nieuw venster openen
Name[pt]=Abrir uma nova janela
Name[sv]=Öppna nytt fönster
Name[uk]=Відкрити нове вікно
Name[x-test]=xxOpen new windowxx
Exec=falkon --new-window

[Desktop Action PrivateBrowsing]
Name=Start private browsing
Name[ar]=ابدأ التّصفّح الخاصّ
Name[ast]=Aniciar restolar en privao
Name[ca]=Inicia la navegació privada
Name[ca@valencia]=Inicia la navegació privada
Name[cs]=Začít soukromé prohlížení
Name[es]=Iniciar navegación privada
Name[nl]=Privébrowsing starten
Name[pt]=Iniciar a navegação privada
Name[sv]=Starta privat webbläsning
Name[uk]=Конфіденційний перегляд
Name[x-test]=xxStart private browsingxx
Exec=falkon --private-browsing
