[Desktop Entry]
Name=PIM
Name[ca]=PIM
Name[ca@valencia]=PIM
Name[fi]=Henkilökohtainen ajanhallinta
Name[fr]=PIM
Name[nl]=PIM
Name[pt]=PIM
Name[sv]=Personlig information
Name[uk]=Керування інформацією
Name[x-test]=xxPIMxx
Name[zh_CN]=个人信息管理
Comment=Adds ability for Falkon to store some personal data
Comment[ca]=Afegeix la possibilitat del Falkon per emmagatzemar diverses dades personals
Comment[ca@valencia]=Afig la possibilitat del Falkon per emmagatzemar diverses dades personals
Comment[fi]=Lisää Falkoniin kyvyn tallentaa henkilökohtaista tietoa
Comment[nl]=Biedt mogelijkheid voor Falkon om enige persoonlijke gegevens op te slaan
Comment[pt]=Adiciona ao Falkon a capacidade de guardar alguns dados pessoais
Comment[sv]=Lägger till möjlighet för Falkon att lagra viss personlig information
Comment[uk]=Додає у Falkon можливість зберігати особисті дані
Comment[x-test]=xxAdds ability for Falkon to store some personal dataxx

Icon=:PIM/data/PIM.png
Type=Service

X-Falkon-Author=Mladen Pejaković
X-Falkon-Email=pejakm@autistici.org
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
