[Desktop Entry]
Name=PIM
Name[ca]=PIM
Name[ca@valencia]=PIM
Name[cs]=PIM
Name[da]=PIM
Name[de]=PIM
Name[en_GB]=PIM
Name[es]=PIM
Name[fi]=Henkilökohtainen ajanhallinta
Name[fr]=PIM
Name[gl]=PIM
Name[id]=PIM
Name[it]=PIM
Name[nl]=PIM
Name[nn]=PIM
Name[pl]=ZIO
Name[pt]=PIM
Name[pt_BR]=PIM
Name[sk]=PIM
Name[sv]=Personlig information
Name[uk]=Керування інформацією
Name[x-test]=xxPIMxx
Name[zh_CN]=个人信息管理
Name[zh_TW]=PIM
Comment=Adds ability for Falkon to store some personal data
Comment[ca]=Afegeix la possibilitat que el Falkon emmagatzemi diverses dades personals
Comment[ca@valencia]=Afig la possibilitat que el Falkon emmagatzeme diverses dades personals
Comment[cs]=Přidává Falkonu schopnost ukládat nějaká osobní data
Comment[da]=Tilføjer mulighed for at Falkon kan lagre nogle personlige data
Comment[de]=Falkon kann einige persönliche Daten speichern
Comment[en_GB]=Adds ability for Falkon to store some personal data
Comment[es]=Añade a Falkon la facultad de guardar datos personales
Comment[fi]=Lisää Falkoniin kyvyn tallentaa henkilökohtaista tietoa
Comment[fr]=Ajout d'une capacité de stockage de certaines données personnelles par Falkon
Comment[gl]=Engade a posibilidade de que Falkon almacene algúns datos persoais
Comment[id]=Menambah kemampuan terhadap Falkon untuk menyimpan beberapa data pribadi
Comment[it]=Aggiunge a Falkon la capacità di immagazzinare alcuni dati personali
Comment[nl]=Biedt mogelijkheid voor Falkon om enige persoonlijke gegevens op te slaan
Comment[nn]=Gjer det mogleg for Falkon å lagra nokre persondata
Comment[pl]=Dodaje możliwość przechowywania pewnych danych osobistych
Comment[pt]=Adiciona ao Falkon a capacidade de guardar alguns dados pessoais
Comment[pt_BR]=Adiciona a habilidade ao Falkon para armazenar alguns dados pessoais
Comment[sv]=Lägger till möjlighet för Falkon att lagra viss personlig information
Comment[uk]=Додає у Falkon можливість зберігати особисті дані
Comment[x-test]=xxAdds ability for Falkon to store some personal dataxx
Comment[zh_CN]=增加 Falkon 存储某些个人数据的能力

Icon=:PIM/data/PIM.png
Type=Service

X-Falkon-Author=Mladen Pejaković
X-Falkon-Email=pejakm@autistici.org
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
