[Desktop Entry]
Name=PIM
Comment=Adds ability for Falkon to store some personal data

Icon=:PIM/data/PIM.png
Type=Service

X-Falkon-Author=Mladen Pejaković
X-Falkon-Email=pejakm@autistici.org
X-Falkon-Version=0.2.0
X-Falkon-Settings=true
