[Desktop Entry]
Name=Example Plugin
Name[ca]=Connector d'exemple
Name[ca@valencia]=Connector d'exemple
Name[nl]=Voorbeeld plug-in
Name[pt]='Plugin' de Exemplo
Name[sv]=Exempelinsticksprogram
Name[uk]=Приклад додатка
Name[x-test]=xxExample Pluginxx
Comment=Very simple minimal plugin example
Comment[ca]=Exemple molt senzill de connector mínim
Comment[ca@valencia]=Exemple molt senzill de connector mínim
Comment[pt]='Plugin' de exemplo muito simples e minimalista
Comment[sv]=Mycket enkelt minimalt exempel på ett insticksprogram
Comment[uk]=Дуже простий мінімальний приклад додатка
Comment[x-test]=xxVery simple minimal plugin examplexx

Icon=configure
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.7
X-Falkon-Settings=true
