[Desktop Entry]
Name=Example Plugin
Name[ca]=Connector d'exemple
Name[ca@valencia]=Connector d'exemple
Name[cs]=Ukázkový modul
Name[da]=Eksempel plugin
Name[de]=Beispielmodul
Name[en_GB]=Example Plugin
Name[es]=Complemento de ejemplo
Name[fi]=Esimerkkiliitännäinen
Name[fr]=Exemple de module externe
Name[gl]=Complemento de exemplo
Name[id]=Example Plugin
Name[it]=Estensione di esempio
Name[nl]=Voorbeeld plug-in
Name[nn]=Eksempel-tillegg
Name[pl]=Przykładowa wtyczka
Name[pt]='Plugin' de Exemplo
Name[pt_BR]=Plugin de exemplo
Name[sk]=Príkladový doplnok
Name[sv]=Exempelinsticksprogram
Name[uk]=Приклад додатка
Name[x-test]=xxExample Pluginxx
Name[zh_CN]=示例插件
Comment=Very simple minimal plugin example
Comment[ca]=Exemple molt senzill d'un connector mínim
Comment[ca@valencia]=Exemple molt senzill d'un connector mínim
Comment[cs]=Jednoduchá ukázka modulu
Comment[da]=Meget simpelt minimalt plugin eksempel
Comment[de]=Einfaches minimales Beispielmodul
Comment[en_GB]=Very simple minimal plugin example
Comment[es]=Complemento de ejemplo mínimo, muy sencillo
Comment[fi]=Hyvin yksinkertainen esimerkki minimaalisesta liitännäisestä
Comment[fr]=Exemple de module externe minimaliste très simple
Comment[gl]=Exemplo de complemento mínimo moi simple
Comment[id]=Contoh plugin minimal yang sangat sederhana
Comment[it]=Estensione di esempio molto semplice e minimale
Comment[nl]=Zeer eenvoudige minimaal voorbeeld voor plug-in
Comment[nn]=Veldig enkelt og lite eksempel-tillegg
Comment[pl]=Bardzo prosty minimalny przykład wtyczki
Comment[pt]='Plugin' de exemplo muito simples e minimalista
Comment[pt_BR]=Um exemplo de plugin mínimo e simples
Comment[sk]=Veľmi jednoduchý príkladový doplnok
Comment[sv]=Mycket enkelt minimalt exempel på ett insticksprogram
Comment[uk]=Дуже простий мінімальний приклад додатка
Comment[x-test]=xxVery simple minimal plugin examplexx
Comment[zh_CN]=非常简单的最小化插件示范

Icon=configure
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.7
X-Falkon-Settings=true
