[Desktop Entry]
Name=Example Plugin
Comment=Very simple minimal plugin example

Icon=configure
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.1.7
X-Falkon-Settings=true
