[Desktop Entry]
Name=GreaseMonkey
Name[ca]=GreaseMonkey
Name[pt]=GreaseMonkey
Name[sv]=GreaseMonkey
Name[uk]=GreaseMonkey
Name[x-test]=xxGreaseMonkeyxx
Comment=Provides support for userscripts
Comment[ca]=Proporciona suport per scripts d'usuari
Comment[pt]=Oferece o suporte para programas do utilizador
Comment[sv]=Tillhandahåller stöd för användarskript
Comment[uk]=Забезпечує підтримку скриптів користувача
Comment[x-test]=xxProvides support for userscriptsxx

Icon=:gm/data/icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.9.4
X-Falkon-Settings=true
