[Desktop Entry]
Name=GreaseMonkey
Name[ca]=GreaseMonkey
Name[ca@valencia]=GreaseMonkey
Name[cs]=GreaseMonkey
Name[de]=GreaseMonkey
Name[en_GB]=GreaseMonkey
Name[es]=GreaseMonkey
Name[fi]=GreaseMonkey
Name[fr]=GreaseMonkey
Name[id]=GreaseMonkey
Name[it]=GreaseMonkey
Name[nl]=GreaseMonkey
Name[pt]=GreaseMonkey
Name[sv]=GreaseMonkey
Name[uk]=GreaseMonkey
Name[x-test]=xxGreaseMonkeyxx
Name[zh_CN]=GreaseMonkey
Comment=Provides support for userscripts
Comment[ca]=Proporciona suport per scripts d'usuari
Comment[ca@valencia]=Proporciona suport per scripts d'usuari
Comment[cs]=Poskytuje podporu pro uživatelské skripty
Comment[en_GB]=Provides support for userscripts
Comment[es]=Implementa guiones de usuario
Comment[fi]=Tarjoaa käyttäjäskriptien tuen
Comment[fr]=Prend en charge les scripts utilisateur.
Comment[id]=Menyediakan dukungan untuk skrip pengguna
Comment[it]=Fornisce un supporto agli script utente
Comment[nl]=Biedt ondersteuning voor scripts van gebruikers
Comment[pt]=Oferece o suporte para programas do utilizador
Comment[sv]=Tillhandahåller stöd för användarskript
Comment[uk]=Забезпечує підтримку скриптів користувача
Comment[x-test]=xxProvides support for userscriptsxx
Comment[zh_CN]=为用户脚本提供支持

Icon=:gm/data/icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.9.4
X-Falkon-Settings=true
