[Desktop Entry]
Name=GreaseMonkey
Comment=Provides support for userscripts

Icon=:gm/data/icon.svg
Type=Service

X-Falkon-Author=David Rosca
X-Falkon-Email=nowrep@gmail.com
X-Falkon-Version=0.9.4
X-Falkon-Settings=true
